

@(catForm: Form[Cat])(implicit messages: Messages)

@import helper._

<!-- import constructor from twitterbootstrapinput -->
@implicitFieldConstructor = @{ FieldConstructor(twitterbootstrapinput.render) } 


    @main("Cats Database"){
        
         <div class = "container">
        
        <!-- Form to add new cat into database -->
        
        <h2> Add new cat </h2>
        
        @form(routes.Application.newCat,'enctype -> "multipart/form-data"){
        
        <fieldset>
         
            @inputText(catForm("name"), '_label -> "Name of cat",'_help->"No digits or spaces in name")
           
         <!-- select color, race and gender from drop-down list -->    
         
            @select(
                catForm("color"), 
                 options = options(Colors.list), 
                '_label -> "Choose color of cat", '_default -> "-- Choose cat color --",
                '_showConstraints -> false
            )
            
            @select(
                catForm("race"), 
                 options = options(CatBreeds.list), 
                '_label -> "Select the cat breed", '_default -> "-- Choose cat breed --",
                '_showConstraints -> false,'_help->"Only popular 10 cat breeds are shown"
            )
            
            @select(
                catForm("gender"), 
                 options = options(Gender.list), 
                '_label -> "Gender", '_default -> "-- Choose a gender --",
                '_showConstraints -> false
            )
            
       
        </fieldset>
            
            <!-- accept only images -->
            <div style = " padding:20px">
                 
                    <label for="Upload new picture">Upload new picture:</label>
                    
                    <input type="file" name= "imageFile" accept="image/*">
            </div>
                
                
            
            <div >
            
                <input type="submit" value="Create" class="btn primary"> 
            
            </div>
        
            
        

        }
        
        </div>
        
    }

           