

@(cat: Cat, catForm: Form[Cat])(implicit messages: Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterbootstrapinput.render) } 


    @main("Cats Database"){
        
       
        <div class = "container">
        <!-- Form to edit cat information -->
        
        <h2> Editing cat -- @cat.name</h2>
        
        @form(routes.Application.updateCat(cat.id.get),'enctype -> "multipart/form-data"){
        <fieldset>
         
            @inputText(catForm("name"), '_label -> "Name of cat",'_help->"No digits or spaces in name")
           
            <!-- select color, race and gender from drop-down list -->    
            
            @select(
                catForm("color"), 
                 options = options(Colors.list), 
                '_label -> "Choose color of cat", '_default -> "-- Choose cat color --",
                '_showConstraints -> false
            )
            
            
            @select(
                catForm("race"), 
                 options = options(CatBreeds.list), 
                '_label -> "Select the cat breed", '_default -> "-- Choose cat breed --",
                '_showConstraints -> false,'_help->"Only popular 10 cat breeds are shown"
            )
            
            @select(
                catForm("gender"), 
                 options = options(Gender.list), 
                '_label -> "Gender", '_default -> "-- Choose a gender --",
                '_showConstraints -> false
            )
            
         <!-- if cat has no picture then ask to upload picture
         other wise show existing picture and ask to change existing picture -->
         
         <!-- accept only images -->
           @if(cat.picture.isEmpty) {
               
                <div >
                 
                    <label for="Upload new picture">Upload new picture:</label>
                    
                    <input type="file" name= "imageFile" accept="image/*">
                </div>
                
            } else {
                
                <!-- show existing picture -->
                <div style = " padding:20px">
                 
                    <label for="Existing picture">Existing picture:</label>
                    
                    <img src="@routes.Application.getImage(cat.id.get)" width="80" height="80">  
                </div>
                
                <!-- upload new picture -->
                <div >
                 
                    <label for="Upload new picture">Upload new picture:</label>
                    
                    <input type="file" name= "imageFile" accept="image/*">
                </div>
                
                    
            }
       
        </fieldset>
            
           <!-- save or cancel the action -->
                
            <div>
            
                <input type="submit" value="Save" class="btn primary"> or 
                <a href="@routes.Application.cats" class="btn primary">Cancel</a> 
            
            </div>  
            
        }
            
        <div>
            
            @form(routes.Application.deleteCat(cat.id.get)) {
           
           <input type="submit" value="Delete" class= "btn danger" onclick="return confirm('Are you sure you want to delete cat @cat.name?')">
           }  
        </div>
       
        
        </div>
        
    }

           